// Place all the styles related to the customer::cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-table {
  border: 1px solid;
  margin: 30px 20px;
  width: 700px;
  height: 100px;
}

.cart-table th {
  border: 1px solid;
}


.cart-totalprice {
  margin: 20px 20px;
  width: 700px;
  height :80px;
}

.cart-totalprice th {
 border:0px solid #333;
}

