// Place all the styles related to the customer::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.final-box{
    text-align:center;
    margin-top:250px;
}

.order-wapper{
    margin-left:50px;
    padding-top:30px;
}

.headline-a{
    padding-left:100px;
}

.headline-cache{
    font-weight:bold;
}

.box-box{
    padding-left:20px;
}

.box-in-box{
    padding-left:15px;
}

.bobobox{
    margin-left:15px;
}

