// Place all the styles related to the customer::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.final-box{
    text-align:center;
    margin-top:250px;
}

.order-wapper{
    margin-left:50px;
    padding-top:30px;
}

.headline-a{
    margin-left:70px;
}

.headline-cache{
    font-weight:bold;
}

.box-box{
    padding-left:20px;
}

.box-in-box{
    padding-left:30px;
}

.bobobox{
    margin-left:15px;
}

.title{
    font-weight:bold;
}

.tate-tate{
    line-height:60px; 
}

.small-headline{
    font-weight:bold;
}

.final-box{
    margin:150px;
}

table{
    tbody{
        tr{
            td.vertical-align{
                vertical-align: middle;
            }
        }
    }
}

.table-line{
    tr{
        td,th{
            border: 1px solid #000 !important;
        }
    }
}

.table-line{
    tr{
        th{
            height:60px;
            line-height:60px !important;
        }
    }
}

.table-line-a{
    tr{
        td,th{
            border: 1px solid #000 !important;
        }
    }
}