<div class="container">
    <span class="headline-confirm">注文情報確認</span>
    <div class="row">
        <div class="col-xs-8">
            <table class="left-table">
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>単価（税込）</th>
                        <th>数量</th>
                        <th>小計</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>いちごのショートケーキ</td>
                        <td>1,100</td>
                        <td>1</td>
                        <td>1,100</td>
                    </tr>
                    <tr>
                        <td>かわしましょうご</td>
                        <td>100</td>
                        <td>99</td>
                        <td>9,900</td>
                    </tr>
                </tbody>
            </table>
            <div class="ordered-box">
                <span class="ordered-head">支払情報</span>
                <%# <%= @order.payment_method %>
            </div>
        </div>

        <div class="col-xs-4">
            <table class="right-table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>送料<td>
                        <td>800<td>
                    </tr>
                    <tr>
                        <td>商品合計<td>
                        <td>1,760<td>
                    </tr>
                    <tr>
                        <td>請求金額<td>
                        <td>2,560<td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <ul>
                <li><span class="titlw">支払方法</span></li>
                <li><%= @order.payment_method %></li>
            </ul>
            <ul>
                <li><span class="titlw">お届け先</span></li>
                <li><%= @order.full_ordered%></li>
            </ul>
        </div>
        <div class="col-xs-4">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
        <%# 購入確定ボタン %>
            <p>注文確定</p>
        </div>
        <div class="col-xs-4"></div>
    </div>
</div>