<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <div class="final-box">
            <h3>ご購入ありがとうございました！</h3>
        </div>
    </div>
    <div class="col-xs-4"></div>   
</div>