<div class="contanier">
  <div class="row">
  	<div class="col-md-offset-3 col-md-5">
      <div class="index-header">
        <h3>会員一覧</h3>
      </div>
    </div>

    <div class="col-md-offset-3 col-md-6">
      <table class="table table-hover" style="border:none;">
      	<thead>
	      <tr>
	        <th style="border:none;">会員ID</th>
	      	<th style="border:none;">氏名</th>
	      	<th style="border:none;">メールアドレス</th>
	      	<th style="border:none;">ステータス</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	      	 <td>1</td>
	      	 <td>山田花子</td>
	      	 <td>aaa@test.jp</td>
	      	 <td>有効</td>
	      </tr>
	      <tr>
	      	 <td>2</td>
	      	 <td>松尾毅雄</td>
	      	 <td>bbb@test.jp</td>
	      	 <td>有効</td>
	      </tr>
      	</tbody>
      </table>
    </div>
  </div>
</div>