<div class="row">

	<div class="col-xs-3">
    	<%= render 'layouts/searchform' %>
  	</div>

	<div class="col-xs-9">
		<%= render 'customer/products/index', products: @products, genre: @genre %>
	</div>

</div>