<%# 商品一覧ページ（会員側） %>
<div class="row">
	<div class="col-xs-3">
		<div class="search">
			<table>
  				<tr>
    				<th>ジャンル検索</th>
  				</tr>
  				<tr>
    				<td>ケーキ</td>
  				</tr>
  				<tr>
    				<td>焼き菓子</td>
  				</tr>
  				 <tr>
    				<td>プリン</td>
  				</tr>
  				 <tr>
    				<td>キャンディ</td>
  				</tr>
  				 <tr>
    				<td></td>
  				</tr>
  				 <tr>
    				<td></td>
  				</tr>
  				 <tr>
    				<td></td>
  				</tr>
			</table>
		</div>
	</div>

	<div class="col-xs-9">
		<div class="#">
			<h2>商品一覧</h2>
            <div class="main-box clearfix">
                <%# 実装用 %>
                <%# <% @products.each do |product| %> 
                    <%# <div class="product-box"> %>
                        <%# <%= attachment_image_tag(product.image, :image,fill,140, 210, fallback: "no-image-mini.jpg") %> 
                        <%# <%= product.product_name %> 
                        <%# <%= product.nontax * 1.1 %> 
                    <%# </div> %>
                <%# <% end %> 
                
                <%# 通常はeach doでぶん回す %>
                <div class="product-box">
                <div class="nise-image"></div>
                <p>商品名</p>
                <p>￥0,000</p>
                </div>

                <div class="product-box">
                <div class="nise-image"></div>
                <p>商品名</p>
                <p>￥0,000</p>
                </div>

                <div class="product-box">
                <div class="nise-image"></div>
                <p>商品名</p>
                <p>￥0,000</p>
                </div>

                <div class="product-box">
                <div class="nise-image"></div>
                <p>商品名</p>
                <p>￥0,000</p>
                </div>

                <div class="product-box">
                <div class="nise-image"></div>
                <p>商品名</p>
                <p>￥0,000</p>
                </div>

                <div class="product-box">
                <div class="nise-image"></div>
                <p>商品名</p>
                <p>￥0,000</p>
                </div>

                <div class="product-box">
                <div class="nise-image"></div>
                <p>商品名</p>
                <p>￥0,000</p>
                </div>

                <div class="product-box">
                <div class="nise-image"></div>
                <p>商品名</p>
                <p>￥0,000</p>
                </div>
            </div>
		</div>
        <div class="pagination">
            <p><<</p>
            <p><</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>></p>
            <p>>></p>
        </div>
	</div>
</div>
