<div class="search">
	<table class="search-menu col-xs-8">
  		<tr>
    		<th>ジャンル検索</th>
  		</tr>
  		<tr>
			<td valign="top"><% @genres.select(:id, :genre_name).distinct.each do |genre| %>
		<span class="ganre-menu"><%= link_to genre.genre_name, home_search_path(genre) %></span></br>
		<% end %></td>
	    </tr>
	</table>
</div>
